<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE xml>
<!--suppress XmlWrongRootElement -->
<Configuration status="INFO">
    <Appenders>
        <Console name="console_out" target="SYSTEM_OUT">
            <Filters>
                <ThresholdFilter level="warn" onMatch="DENY" onMismatch="NEUTRAL" />
                <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout pattern="[%logger] [%d{HH:mm:ss}] %highlight{[%level] %msg}{FATAL=red, ERROR=bright red, WARN=yellow, INFO=bright white, DEBUG=white, TRACE=bright cyan}%n" />
        </Console>
        <Console name="console_warn_err_fatal" target="SYSTEM_ERR">
            <Filters>
                <ThresholdFilter level="warn" onMatch="ACCEPT" onMismatch="DENY" />
            </Filters>
            <PatternLayout pattern="[%logger] [%d{HH:mm:ss}] %highlight{[%level] %msg}{FATAL=red, ERROR=bright red, WARN=yellow, INFO=bright white, DEBUG=white, TRACE=bright cyan}%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace" additivity="false">
            <AppenderRef ref="console_warn_err_fatal" />
            <AppenderRef ref="console_out" />
        </Root>
    </Loggers>
</Configuration>
